body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.suman-k {
    color: orange;
}

h1 {
    font-size: 40px;
}

section {
    display: flex;
    margin-top: 100;
}

.half-width {
    width: 50%;
    padding: 5%;
    text-align: justify;
}

.half-width img {
    width: 80%;
}

.link-button {
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 700;

}

.about-banner {
    background-image: url(7.png);
    background-repeat: no-repeat;
    width: 80%;
}